In [ ]:
x=10
y=-200
z=0
print (x,y,z)

10 -200 0

In [ ]:
my={"name":"shahal","age":18,"city":"vyttilla"}
my["age"]=20
my["email"]="shahal@gmail"
print(my)
age=my.pop("age")
print(my)
print(age)

{'name': 'shahal', 'age': 20, 'city': 'vyttilla', 'email': 'shahal@gmail'}
{'name': 'shahal', 'city': 'vyttilla', 'email': 'shahal@gmail'}
20

In [ ]:
my_list =[1,2,3,'apple','orange']
my_list[0]=10
print(my_list)
my_list.append(4)
print(my_list)

sub_list= my_list[1:4]
print(sub_list)
concatinated_list = my_list + [5,6]
print(concatinated_list)

l1=['sha',12]
my_list.extend(l1)
print(my_list)
my_list.remove(3)
print(my_list)

my_list.insert(0,'shahal')
print(my_list)

[10, 2, 3, 'apple', 'orange']
[10, 2, 3, 'apple', 'orange', 4]
[2, 3, 'apple']
[10, 2, 3, 'apple', 'orange', 4, 5, 6]
[10, 2, 3, 'apple', 'orange', 4, 'sha', 12]
[10, 2, 'apple', 'orange', 4, 'sha', 12]
['shahal', 10, 2, 'apple', 'orange', 4, 'sha', 12]

In [ ]:
l1 =[1,2,3,4,5]
l2 =[3,4,5,6,7,8,9]
l3 =l1+l2
print(l3)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1 = ['z','x','a','d']
l1.sort()
print(l1)

['a', 'd', 'x', 'z']

In [ ]:
t = (1,2,'banana',4.5)
print(t)
s2=t[1:3]
print(s2)

(1, 2, 'banana', 4.5)
(2, 'banana')

In [ ]:
my={"name":"shahal","age":18,"city":"vyttilla"}
my["age"]=20
my["email"]="shahal@gmail"
print(my)
for key,value in my.items():
  print(key,value)

{'name': 'shahal', 'age': 20, 'city': 'vyttilla', 'email': 'shahal@gmail'}
name shahal
age 20
city vyttilla
email shahal@gmail

In [ ]:
my={"name":"shahal","age":18,"city":"vyttilla"}
my["age"]=20
my["email"]="shahal@gmail"
print(my)
for key in my.keys():
  print(key)

{'name': 'shahal', 'age': 20, 'city': 'vyttilla', 'email': 'shahal@gmail'}
name
age
city
email

In [ ]:
my={"name":"shahal","age":18,"city":"vyttilla"}
my["age"]=20
my["email"]="shahal@gmail"
print(my)
for value in my.values():
  print(value)

{'name': 'shahal', 'age': 20, 'city': 'vyttilla', 'email': 'shahal@gmail'}
shahal
20
vyttilla
shahal@gmail

In [ ]:
is_equal=(10==10)
print(is_equal)

True

In [ ]:
s={1,2,3,4,5}
s.add(6)
print (s)

{1, 2, 3, 4, 5, 6}

In [ ]:
s={1,2,3,4,5}
s.remove(3)
print(s)
print(2 in s)
print(6 not in s)

{1, 2, 4, 5}
True
True

In [ ]:
x="hello, world!"
print(x[0])
print(x[7:12])
y=x.split(",")
print(y)
z="-".join(y)
print(z)

h
world
['hello', ' world!']
hello- world!

In [ ]:
s1={1,2,3}
s2={3,4,5}
union_set =s1|s2
print(union_set)
intersection_set=s1&s2
print(intersection_set)
difference_set=s1-s2
print(difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
x=10.9
y=-200.9
z=0.7
print(x,y,z)

10.9 -200.9 0.7

In [ ]:
w=3+4j
x=-1.5+2.5j
y=2-3.3j
z=-1j
print(w,x,y,z)

(3+4j) (-1.5+2.5j) (2-3.3j) (-0-1j)

In [ ]:
print("sum =",5+2)

sum = 7

In [ ]:
a = int (input("enter a number"))
b= int(input("enter a number"))
print("sum",a+b)

enter a number23
sum 36

In [ ]:
print(2>=3)
print(3<=3)
print(3!=4)

False
True
True

In [ ]:
a=str(input("enter a name"))
print(a)

enter a namehwkl
hwkl

In [ ]:
my={"name":"shahal","age":18,"city":"vyttilla"}
my["age"]=20
my["email"]="shahal@gmail"
print(my)
del my["city"]
print(my)

{'name': 'shahal', 'age': 20, 'city': 'vyttilla', 'email': 'shahal@gmail'}
{'name': 'shahal', 'age': 20, 'email': 'shahal@gmail'}

In [ ]:
t1 = (1,2,5,7,5)
t2 = (3,4,5,6,7,8,9,9)
t3 = t1 + t2
print(t3)
t4 = t3+(100,400)
print(t4)

(1, 2, 5, 7, 5, 3, 4, 5, 6, 7, 8, 9, 9)
(1, 2, 5, 7, 5, 3, 4, 5, 6, 7, 8, 9, 9, 100, 400)

In [ ]:
d = {'name':'shahal','age':20,'flower':'pot'}
d['city'] ="new york"
print(d)
del d['city']
print(d)
print(d["name"])
abc =d["name"]
print(abc)
d.pop('age')
print(d)
for key in d.keys():
  print(key)
for value in d.values():
  print(value)
d['age']=30
print(d)
print(type(d))

{'name': 'shahal', 'age': 20, 'flower': 'pot', 'city': 'new york'}
{'name': 'shahal', 'age': 20, 'flower': 'pot'}
shahal
shahal
{'name': 'shahal', 'flower': 'pot'}
name
flower
shahal
pot
{'name': 'shahal', 'flower': 'pot', 'age': 30}
<class 'dict'>

In [ ]:
d1 = dict(Name="shahal", age=20)#where dict() is a constructor
print(d1)
print(type(d1))

{'Name': 'shahal', 'age': 20}
<class 'dict'>

In [ ]:
d1 = dict(Name="shahal", age=20)
dc = d1.copy()#used to copy
print(dc)

{'Name': 'shahal', 'age': 20}

In [ ]:
d1 = {'fdgfg':"abc", 'age':4}
d2 = {'Name':"shahal", 'age':20}
d1 = d2.copy()
print(d1)

{'Name': 'shahal', 'age': 20}

In [ ]:
#nested dict
x ={
    "std1":{
           'name':'abin',
            'age':21
           },

        "std2":{
              'name':"naheem",
              'age':23
        }
    }

print(x)

my_dict = {
    "person1": {"name": "Shahal", "age": 20},
    "person2": {"name": "Alex", "age": 25}
}
print(my_dict)

{'std1': {'name': 'abin', 'age': 21}, 'std2': {'name': 'naheem', 'age': 23}}
{'person1': {'name': 'Shahal', 'age': 20}, 'person2': {'name': 'Alex', 'age': 25}}

In [ ]:
def hello():
  print("hello george sir aanu")

hello()

hello george sir aanu

In [ ]:
def add(a,b):
  return a+b
print(add(2,5))

7

In [ ]:
def greet(name):
  print("hello "+name)

greet("sha")

hello sha

In [ ]:
mul = lambda x,y: x*y
result = mul(3,4)
print(result)

r3= mul(6,8)
print(r3)

12
48

In [ ]:
l= [[2,4,"banana"],[6,7,8]]
print(l[0])

[2, 4, 'banana']

In [ ]:
t = ((3,5,6),(7,9,0))
print(t)

((3, 5, 6), (7, 9, 0))

In [ ]:
l = [4,7,9]
l2 = l.copy()
print(l2)

[4, 7, 9]

In [ ]:
t =(7,8,9)
t2 = t#we can't use copy because its immutable
print(t2)

(7, 8, 9)

In [ ]:
t = (1,2,'me')
l = list(t)
print(l)
print(type(l))
print(type(t))

[1, 2, 'me']
<class 'list'>
<class 'tuple'>

In [ ]:
l =[2,4,6,'sh']
t = tuple(l)
print(t)

(2, 4, 6, 'sh')

In [ ]:
a=100
b=30
if b>a:
  print ("b>a")
elif b==a:
  print("b==a")
else:
  print("a>b")

a>b

In [ ]:
a=int(input("enter a nnumber"))
b=int(input("enter a number"))
if b>a:
  print (b,">",a)
elif b==a:
  print(b,"==",a)
else:
  print(a,">",b)

enter a nnumber34
enter a number56
56 > 34

In [ ]:
a=100
b=30
c=12
if a>b and a>c:
  print("yes")

In [ ]:
a=100
b=30
c=12
if a>b or a>b:
  print("yes")

In [ ]:
a=100
b=200
if not a>b or not b>a:
  print("no")

In [ ]:
a=100
b=200
if not a>b and b>a:
  print("no")

In [ ]:
no=(100,200,300)
for y in no:
  print(y)

In [ ]:
no="apple"
for x in no:
 print(x)

In [ ]:
f=("apple","orange","banana","mango")
for d in f:
  if d=="banana":
   break
  print(d)

In [ ]:
f=("apple","orange","banana","mango")
for d in f:
  if d=="banana":
   continue
  print(d)

In [ ]:
with open("")

In [ ]:
for x in [0,1,2]:
  pass
  print (x)

In [ ]:
x=0
while x<5:
  print(x)
  x+=1

In [ ]:
#file = open('shahal.txt','w')or
with open('file.txt','w') as file:
  file.write("hello njan george sir aanu..")
with open('file.txt','r') as file:
  content=file.read()
  print(content)
 """file = open('s1.txt','w')
file.write('hellooo')
file = open('s1.txt','r')
fobj = file.read()
print(fobj)"""

In [ ]:
with open('Shahal.txt','w')as file:
  file.write("Helooooo")

In [ ]:
with open('Shahal.txt','r')as file:
  content = file.read()

In [ ]:
print(content)

In [ ]:
with open('shahal.txt','w')as file:
  file.write("line 1:hello world\n")
  file.write("line 2:welcome to file\n")
  file.write("line 3:pythobn is powerful\n")

In [ ]:
with open('shahal.txt','r')as file:
  print("using read():")
  content=file.read()
  print(content)

using read():
line 1:hello world
line 2:welcome to file
line 3:pythobn is powerful

In [ ]:
with open('shahal.txt','r') as file:
  print("reading using readline():")
  line=file.readline()
  print(line)
  line2=file.readline()
  print(line2)

reading using readline():
line 1:hello world

line 2:welcome to file

In [ ]:
with open('shahal.txt','r') as file:
  print("reading using readlines()")
  list1=file.readlines()
  print(list1)

In [ ]:
with open('shahal.txt','a') as file:
  file.write("line 4: this is append line\n")
with open('shahal.txt','r') as file:
  content = file.read()
  print(content)

In [ ]:
try:
  with open('demo10996.txt','x') as file:
    file.write("this file was created using 'x' mode")

except FileExistsError:
  print("already exists ")

In [ ]:
try:
  x=10/0
except ZeroDivisionError:
  print("you cannot divive by zero")

In [ ]:
try:
  num=int("abxc")
except ValueError as e:
 print(f"An erroe occured:{e}")

In [ ]:
try:
  x=int("abc")
  y=10/0
except ValueError:
  print("invalid value!")
except ZeroDivisionError:
  print("cannot divide by zero!")

In [ ]:
try:
  x=int("abc")
  y=10/0
except (ValueError,ZeroDivisionError) as e:
  print("invalid value!",e)

In [ ]:
from logging import exception
try:
  x=int("abc")
except Exception as e:
  print("some error occured",e)

In [ ]:
try:
  x=10/0
except ZeroDivisionError:
  print("error")
finally:
    print("this will always run")

In [ ]:
#1
a = float(input("enter a number:"))
b = float(input("enter another number:"))
print("addition is ",a+b)
print("subtraction is ,",a-b)
print("multiplication is:",a*b)

try:
  print("division is :",a/b)
except ZeroDivisionError:
  print("can't divided by 0")

enter a number:45
enter another number:56
addition is  101.0
subtraction is , -11.0
multiplication is: 2520.0
division is : 0.8035714285714286

In [ ]:
#2
from os import supports_follow_symlinks
a = complex(input("enter a complex number"))
b = complex(input("enter a complex number:"))
sum=a+b
print(sum)

enter a complex number78
enter a complex number:56j
(78+56j)

In [ ]:
#3
a = input("enter a word:")
b=len(a.split())
print(b)

enter a word:gh hhj
2

In [ ]:
#4
l1 = [5,4,3,2,1]
l1.append(6)
print(l1)
l1.pop(2)
print(l1)
l1.sort()
print(l1)

[5, 4, 3, 2, 1, 6]
[5, 4, 2, 1, 6]
[1, 2, 4, 5, 6]

In [ ]:
#5
t = (5,4,3,2,1)
l =list(t)
l.insert(2,99)
l.sort()
print("the list is :",l)
t = list(l)
print(t)

the list is : [1, 2, 3, 4, 5, 99]
[1, 2, 3, 4, 5, 99]

In [ ]:
#6
s1 = set(input("enter elements for set 1: "))
s2 = set(input("enter elements for set 2: "))
union = s1|s2 #s1.union(s2)
print(union)
intersec =s1&s2
print(intersec)
diff = s1 - s2
print(diff)

enter elements for set 1: 4567
enter elements for set 2: 6789
{'9', '8', '7', '6', '4', '5'}
{'7', '6'}
{'5', '4'}

In [ ]:
#7
std={"a":10,"b":20,"c":70}
for key,value in std.items():
  if value>50:
    print(key,value)

c 70

In [ ]:
#8
a = int(input("enter a number:"))
if a>0:
  print(f"{a} is positive number.")
elif a<0:
  print(f"{a} is a negative number.")
else:
  print(" it's zero")

enter a number:56
56 is positive number.

In [ ]:
#9
for i in range(1,21):
  if i%5 ==0:
    continue
  print(i)
"""for i in range(1,21):
  if i%5 !=0:
    print(i)"""

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

'for i in range(1,21):\n  if i%5 !=0:\n    print(i)'

In [ ]:
#10
#ab = 10==10
total =0
#while ab:
while True:
  n=input("enter number(to stop this loop,plzz type stop)")
  if n=='stop':
    break
  n=int(n)
  total=total+n
  print(total)
"""
or
c =0
for x in range(0,n)
  a = int(input())
  c +=a
  print(a)"""

enter number(to stop this loop,plzz type stop)stop

'\nor\nc =0\nfor x in range(0,n)\n  a = int(input())\n  c +=a \n  print(a)'

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age =age

obj = person("sha",20)

print(obj.age)
print(obj.name)

20
sha

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age = age
  def __str__(self):
    return f"{self.name(self.age)}"

obj = person("sha",20)
print(obj.name,obj.age)
print(obj.age)

sha 20
20

In [ ]:
class car:
  def __init__(self,wheel,color,seat):
    self.wheel = wheel
    self.color = color
    self.seat = seat
obj = car(4,"black",2)
print(obj.wheel,obj.seat,obj.color)

4 2 black

In [ ]:
class person:
  def __init__(self,name):
    self.name = name

  def fn1(self):
    print("hello my name is "+self.name)

obj = person("sha")
obj.fn1()

hello my name is sha

In [ ]:
class person:
  def __init__(myself,name,age):
    myself.name = name
    myself.age = age

  def myfn(abc):
    print("hello my name is "+abc.name)

obj = person("shah",30)
obj.myfn()

hello my name is shah

In [ ]:
class p:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def myfn(self):
    print("hello ,my name is ",self.name)
obj = person("sha",20)
obj.age = 25
print(obj.age)

25

In [ ]:
class p:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def fn(self):
    print("hello,my name is ",self.name)

obj = p("sh",45)
try:
  del obj.age
  print(obj.age)
except Exception as e:
  print("age deleted..")

#where we ddeleted the age ., so we can't print it.

age deleted..

In [ ]:
class bank:
  def __init__(self,owner,balance=0):
    self.owner = owner
    self.balance = balance

  def deposit(self,amount):
    self.balance +=amount
    print(f"{amount}is deposited ,new balance is {self.balance}")

  def withdraw(self,amount):
    if amount>self.balance:
      print("insufficient balance...")
    else:
      self.balance -=amount
      print(f"{amount} is withdraw , new balance is {self.balance}")
  def get_balance(self):
    return self.balance
#also account.name = "sha"
  account=bank("shahal",50000)
  print(account.balance)
  account.deposit(5000)#account.deposit = 7000 check it !!buddy
  account.withdraw(10000)
  account.withdraw(1000000)
  print("youre balance is ",account.get_balance())

50000
5000is deposited ,new balance is 55000
10000 is withdraw , new balance is 45000
insufficient balance...
youre balance is  45000

In [ ]:
#library

In [ ]:
class parent:
  def greet(self):
    print("hello from parent..")

class child():
  def greet_child(self):
    print("hello from child...")

obj = child()
obj.greet()

#why???just think about it and wonder!!!next problrm will solve it

NameError: name 'c' is not defined

In [ ]:
class parent:
  def greet(self):
    print("hello from parent")

class child(parent):
  def greet(self):
    print("hello from parent")

obbj = child()
obbj.greet()

hello from parent

In [ ]:
class mother:
  def greet(self):
    print("hello from mother")

class father:
  def greetf(self):
    print("hello from father")

class child(mother,father):
  def greettt(self):
    print("hello from child")

c = child()
c.greet()
c.greetf()
c.greettt()

hello from mother
hello from father
hello from child

In [ ]:
#multilevel
class apple1:#its first class
  def iphone1(self):
    print("iphone 1")
class apple2(apple1):#we inherit properties and attributes of apple1
  def iphone2(self):
    print("iphone 2")
class apple3(apple2):#we inherit all from apple2 ,but the fun fact is the apple 2 contain apple 1
  def iphone3(self):
    print("iphone 3")

c = apple3()
c.iphone1()

iphone 1

In [ ]:
#multilevel , notice the error
class apple1:#its first class
  def iphone1(self):
    print("iphone 1")
class apple2(apple1):#we inherit properties and attributes of apple1
  def iphone2(self):
    print("iphone 2")
class apple3(apple2):#we inherit all from apple2 ,but the fun fact is the apple 2 contain apple 1
  def iphone3(self):
    print("iphone 3")
x =apple1()
x.iphone2()
c = apple3()
c.iphone1()

AttributeError: 'apple1' object has no attribute 'iphone2'

In [ ]:
#hierarchy
class a:
  def fn1(self):
    print("hello from a")

class b(a):
  def fn2(self):
    print("hello from b")

class c(a):
  def fn3(self):
   print("hello from c")

ob1 =b()
ob1.fn1()
ob2 = c()
ob2.fn1()

hello from a
hello from a

In [ ]:
#hybrid
class a:
  def fn1(self):
    print("hello from a")
class b(a):
  def fn2(self):
    print("hello from b")
class c(b):
  def fn3(self):
    print("helloo from c")
class d(b):
  def fn4(self):
    print("hello from d")

obj1 = d()
obj1.fn1()
obj2 = c()
obj2.fn2()

hello from a
hello from b